################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App8/.vs/App8/v16/Server/sqlite3/db.lock
